@media screen and (max-width: 800px) {

    html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

    main, section {
    flex: 1;
  }

  #desktopNav {
    display: none;
  }

  #hamburgerNav {
    display: flex;
  }

  .profilePic {
    width: 180px; /* Smaller size on smaller screens */
    height: 180px;
  }

  .typeTitle{
  text-align: center;
  font-size: 2.5rem; /* Make it large and prominent */
  margin-top: 10px;
}

 .sectionAboutContainer {
    flex-direction: column;
    text-align: center;
  }

  .aboutdetailsContainer {
    align-items: center;
    text-align: center;
  }

  .aboutPic {
    width: 220px; 
    height: 220px;
  }
  .aboutContainer {
    flex-wrap: wrap;
  }

  .detailsContainer {
    flex: 1 1 100%;
  }


  #footer {
    margin: 0;
    padding: 16px;
    position: relative;
    bottom: 0;
    font-size: smaller;
    width: 100%;
    box-sizing: border-box;
  }

  
}
